.banner {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  background-color: #52575c;
  color: white;
  margin-bottom: 20px;
}

.github {
  width: 30px;
  height: 30px;
}

.banner-text {
  margin: 0;
}

.box {
    display: flex;
    justify-content: space-between;
}

.join {
  margin-left: 20px;
}
  
.container {
  margin-top:50px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.instructions {
  display: inline-block;
}

#player {
  width:700px;
  height:600px;
  border:10px solid #ccc;
  border-radius: 6px;
}

.screenshots {
  width:400px;
  height:300px;
  border:10px solid #ccc;
  border-radius: 6px;
  object-fit: contain;
}

.imgBox {
  margin-left:50px;
  height:370px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
 